@font-face { 
  font-family: "Archangelsk";
  src: url("./font/Archangelsk.woff2") format("woff2");
}

  @font-face {
  font-family: "Roboto";
  src:url("./font/RobotoBold.woff2") format("woff2")
  
}
@keyframes animate {
  0% {
    background-image: url('./pervayaStr/empozatniyMyzchina.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    }
    25% {
      background-image: url('./pervayaStr/karyagaytachki.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    }
    50% {
      background-image: url('./pervayaStr/motoroler.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    }
    75% {
    background-image: url('./pervayaStr/empozatniyMyzchina.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    }
  100% {
    background-image: url('./pervayaStr/empozatniyMyzchina.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

}

body {
    margin: 0;
}

article {
  height: 777px;
}
li {
  list-style-type: none;
}

header {

    
    animation: animate 20s linear(0 0%, 0.02 -1.47%) infinite;
    
    height: 1000px;

    padding: 20px 320px 0px;
    
  }
  
  
  .cyberpank {
    
    width: 296px;
    height: 74px;
    
    background-image:
    url('./pervayaStr/logo/Cyberpunk_2077_logo1.svg');
    
    
  }

  .headdress {
    
    height: 78px;
    padding: 20px 36px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  .youtube {
    background-image:
    url('./pervayaStr/logo/youtube_logo.svg');
    width: 30px;
    height: 30px;
    
  }
  .vk {
    background-image:
    url('./pervayaStr/logo/vk.svg') ;
    width: 30px;
    height: 30px;
    margin-left: 40px;
  }
  .facebook {
    background-image:
    url('./pervayaStr/logo/facebook_rect_logo.svg');
    width: 30px;
    height: 30px;
    margin-left: 40px;
  }
  .twitter {
    background-image:
    url('./pervayaStr/logo/twitter_square_logo.svg');
    width: 30px;
    height: 30px;
    margin-left: 40px;
  }
  .twich {
   background-image:
   url('./pervayaStr/logo/twitch_logo.svg');
   width: 29px;
   height: 30px;
   margin-left: 40px;
  }
  .insta {
    background-image:
    url('./pervayaStr/logo/instagram_square_logo.svg');
    width: 30px;
    height: 30px;
    margin-left: 40px;
  }

  .y_cube {
    
    
    background-image:
    url('./pervayaStr/logo/yellow_cube.svg');
    width: 624px;
    height: 368px;
    align-self: flex-end;
    
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    
  }

  .d_u_c {
    position: relative;
    

    width: 624px;
    height: 324px;
  }
  
    
  
  .soc_network {
     

    height: 35px;

    display: flex;
    justify-content: flex-end;

  }

  .wrapper {
    height: 1000px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    
  }
  
  .h1_z {
    width: 484px;
    height: 126px;
    
    color: #000;
    font-family: Archangelsk, sans-serif;
    font-size: 62px;
    margin-bottom: 30px;
    font-weight: normal;
    

  }
  .botton_headers {
    width: 272px;
    height: 78px;

    cursor: pointer;
    
    

    background-color: #000000;
    color: #F8F200;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
  }
/* начало 2 скролла */
  .scroll_two {
    background: #FFF;
    height: 777px;
    }
  
  .div_s_two{
    padding: 70px 320px 0px;
  }
  .h2_z {
    color: #000;
    font-family: Archangelsk;
    font-size: 62px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;

    margin: 0;
  
  }

  .p_h2 {
     color: #777;
     font-family: Roboto;
     font-size: 18px;
     font-style: normal;
     font-weight: normal;
     line-height: 34px;

    max-width: 952px;
  
  }

  .s_h2 {
    color: #52BEDC;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 34px;
  }

  .div_s_svg {
    
    margin-bottom: 0px;

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    
  }
  
  .ul_img {
    height: 777px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: baseline;
    height: 424px;
  }

  .one_img {
    background-image: url(./pervayaStr/svg_image/Rectangle_61.svg);
    width: 788px;
    height: 424px;
  }
  .two_img {
    background-image: url(./pervayaStr/svg_image/Rectangle_62.svg);
    width: 460px;
    height: 196px;
  }
  .three_img {
   background-image: url("./pervayaStr/svg_image/Rectangle_63.svg");
   width: 460px;
   height: 196px;
  }

  